<div>
<div class="container-fluid text-light mt-5" style="background-color:#0a0704 ;">
    <div class="row">
      <div class="col mt-4">
        <table>
            <tr>
                <h5>POLICY INFO </h5>
                <h6>Privacy Policy</h6>
                <h6>Terms of Sale</h6>
                <h6>Terms of Use</h6>
                <h6>FAQ</h6>
               <a href=""> <i class="bi bi-twitter fs-3 p-2"></i></a>
               <a href=""> <i class="bi bi-facebook fs-3 p-2"></i></a>
               <a href=""> <i class="bi bi-whatsapp fs-3 p-2"></i></a>
               <a href=""> <i class="bi bi-instagram fs-3 p-2"></i></a>
               <a href=""> <i class="bi bi-youtube fs-3 p-2"></i></a>
         </tr>
            </table>
      </div>
      <div class="col mt-4">
        <table>
            <tr>
                <h5>COMPANY</h5>
            <h6>Careers</h6>
            <h6>Blog</h6>
            <h6>Contact Us</h6>
            <i class="bi bi-qr-code-scan fs-3"></i> 
            </tr>
            </table>
      </div>
      <div class="col mt-4">
        <table>
            <tr>
                <h5>POPULAR LINKS</h5>
            <h6>Lehenga</h6>
            <h6>Kid's Clothing</h6>
            <h6>Sarees</h6>
            <h5>PAYMENT</h5>
           <a href=""> <i class="bi bi-alipay fs-3 p-2"></i></a>
           <a href=""> <i class="bi bi-credit-card fs-3 p-2"></i></a>
           <a href=""> <i class="bi bi-credit-card-2-back-fill fs-3 p-2"></i></a>
           <a href=""> <i class="bi bi-stripe fs-3 p-2"></i></a>
           <a href=""> <i class="bi bi-wallet2 fs-3 p-2"></i></a>
            </tr>
            </table>
      </div>
      <div class="col mt-4">
        <table>
            <tr>
            <h5>CONTACT US</h5>
            <h6>Fashnear Technologies Private Limited,</h6>
                <h6>CIN: U74900KA2015PTC082263</h6>
                <h6>06-105-B, 06-102, (138 Wu) Vaishnavi Signature, 
                        No. 78/9, Outer Ring Road, Bellandur, Varthur Hobli, 
                    Bengaluru-560103, Karnataka, India</h6>
                <h6>E-mail address: query@meesho.com</h6>
                <h6>© 2015-2024 Meesho.com</h6>
            </tr>
            </table>
      </div>
      </div>
      </div>
      </div>
