<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
            <h3 class="text-center">Fashion</h3>
        </div>
    </div>
    <div class="row">
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="assets/fa1.jpg" alt="" width="250px" height="310px">
                    <!-- Social Info-->
                    <div class="social-info">
                        <b class="h5 text-warning">₹699 </b> <s class="text-light">2300</s><br>
                    </div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Flatknit Sweater</h6>
                    <p class="designation text-success">70% Off</p>

                    <button type="button" class="btn btn-warning">Buy</button>

                </div>
            </div>
        </div>
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="assets/fa2.jpg" alt="" width="250px" height="310px">
                    <!-- Social Info-->
                    <div class="social-info">
                        <b class="h5 text-warning">₹799 </b> <s class="text-light">2099</s><br>
                    </div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>DRAGON MERCHANDISE</h6>
                    <p class="designation text-success">70% Off</p>
                    <button type="button" class="btn btn-warning">Buy</button>
                </div>
            </div>
        </div>
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s"
                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="assets/fa3.jpg" alt="" width="250px" height="310px">
                    <!-- Social Info-->
                    <div class="social-info">
                        <b class="h5 text-warning">₹699 </b> <s class="text-light">₹2799</s><br>

                    </div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Men's Black Sweatshirt</h6>
                    <p class="designation text-success">75% Off</p>
                    <button type="button" class="btn btn-warning">Buy</button>

                </div>
            </div>
        </div>
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="assets/fa4.jpg" alt="" width="250px" height="310px">
                    <!-- Social Info-->
                    <div class="social-info">
                        <b class="h5 text-warning">₹1499 </b> <s class="text-light">₹5599</s><br>

                    </div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Men's Brown Jacket</h6>
                    <p class="designation text-success">73% Off</p>
                    <button type="button" class="btn btn-warning">Buy</button>

                </div>
            </div>
        </div>
    </div>


    <!-- second row -->

    <div class="row justify-content-center">
    </div>
    <div class="row">
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="assets/fa5.jpg" alt="" width="250px" height="310px">
                    <!-- Social Info-->
                    <div class="social-info">
                        <b class="h5 text-warning">₹1049 </b> <s class="text-light">2600</s><br>
                    </div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Men's Brown & Black Shirt</h6>
                    <p class="designation text-success">61% Off</p>

                    <button type="button" class="btn btn-warning">Buy</button>

                </div>
            </div>
        </div>
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="assets/fa6.jpg" alt="" width="250px" height="310px">
                    <!-- Social Info-->
                    <div class="social-info">
                        <b class="h5 text-warning">₹1199 </b> <s class="text-light">2699</s><br>
                    </div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Men's Green & Black Shirt</h6>
                    <p class="designation text-success">55% Off</p>
                    <button type="button" class="btn btn-warning">Buy</button>
                </div>
            </div>
        </div>
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s"
                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="assets/fa7.jpg" alt="" width="250px" height="310px">
                    <!-- Social Info-->
                    <div class="social-info">
                        <b class="h5 text-warning">₹899 </b> <s class="text-light">₹1599</s><br>

                    </div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Men's White & Black Shirt</h6>
                    <p class="designation text-success">43% Off</p>
                    <button type="button" class="btn btn-warning">Buy</button>

                </div>
            </div>
        </div>
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="assets/fa8.jpg" alt="" width="250px" height="310px">
                    <!-- Social Info-->
                    <div class="social-info">
                        <b class="h5 text-warning">₹1199 </b> <s class="text-light">₹2999</s><br>

                    </div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Men's Teal Blue & Beige Shirt</h6>
                    <p class="designation">60%</p>
                    <button type="button" class="btn btn-warning">Buy</button>

                </div>
            </div>
        </div>
    </div>


    <!-- third row -->
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
        </div>
    </div>
    <div class="row">
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="assets/fa9.jpg" alt="" width="250px" height="310px">
                    <!-- Social Info-->
                    <div class="social-info">
                        <b class="h5 text-warning">₹299 </b> <s class="text-light">2300</s><br>
                    </div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Women's Pink Sleevelesss Ethnic Kurti</h6>
                    <p class="designation text-success">87% Off</p>

                    <button type="button" class="btn btn-warning">Buy</button>

                </div>
            </div>
        </div>
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="assets/fa10.jpg" alt="" width="250px" height="310px">
                    <!-- Social Info-->
                    <div class="social-info">
                        <b class="h5 text-warning">₹299 </b> <s class="text-light">2399</s><br>
                    </div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Women's Green Sleeveless Ethnic Kurti</h6>
                    <p class="designation text-success">87% Off</p>
                    <button type="button" class="btn btn-warning">Buy</button>
                </div>
            </div>
        </div>
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s"
                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="assets/fa11.jpg" alt="" width="250px" height="330px">
                    <!-- Social Info-->
                    <div class="social-info">
                        <b class="h5 text-warning">₹299 </b> <s class="text-light">₹1399</s><br>

                    </div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Women's Desi Printed Red Kurta</h6>
                    <p class="designation text-success">78% Off</p>
                    <button type="button" class="btn btn-warning">Buy</button>

                </div>
            </div>
        </div>
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="assets/fa12.jpg" alt="" width="250px" height="310px">
                    <!-- Social Info-->
                    <div class="social-info">
                        <b class="h5 text-warning">₹299 </b> <s class="text-light">₹1399</s><br>

                    </div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Women's White All Over Chill Out Printed Long Kurta</h6>
                    <p class="designation">78%</p>
                    <button type="button" class="btn btn-warning">Buy</button>

                </div>
            </div>
        </div>
    </div>
</div>