<app-navbar></app-navbar>
<div class="container-fluid ">
    <div class="row">
        <div class="col-sm-6 mt-5 ">
            <div class="position-relative">
                <img id="" src="assets/woman.jpg" class="w-100 h-100 rounded"  > 
                <div class="position-absolute top-0 start-0 ms-5 mt-5">
                    <P style="color: orangered;">SUPERCHARGED FOR PROS. </P><h1>iPad S13+ Pro.</h1> 
                    <br>From $999.00 or $41.62/mo.
                <br>for 24 mo. Footnote* <br><br>
                <button routerLink="/product" class="btn btn-primary">BUY NOW</button>
            </div>
            </div>
        </div>
        <div class="col-sm-6 mt-5">
            <div  class="row ">
                <div  class="col-sm-6 p-3">
                    <div class="position-relative">
                    <img class="w-100 h-100 rounded" src="assets/laptop3.jpeg"> 
                    <div class="position-absolute top-0 start-0 ms-3 mt-5">
                        <P style="color: red;">Best sale</P><h5 style="color: aliceblue;">Laptop Max.</h5> 
                    <p style="color: white;">From $1600/- or<br> $64.62/mo.</p>
                    <button routerLink="/product" class="btn btn-primary">BUY NOW</button>
                </div>
                    </div>
                </div>
                <div class="col-sm-6 p-3">
                    <div class="position-relative">
                        <img class="w-100 h-100 rounded" src="assets/w3.jpeg"> 
                        <div class="position-absolute top-0 start-0 ms-3 mt-5">
                            <P style="color: red;">Best sale</P><h5 style="color: aliceblue;">Laptop Max.</h5> 
                        <p style="color: white;">From $1600/- or<br> $64.62/mo.</p>
                        <button routerLink="/product" class="btn btn-primary">BUY NOW</button>
                    </div>
                        </div>

                </div>
                <div class="col-sm-6 p-3">
                    <div class="position-relative">
                        <img class="w-100 h-100 rounded" src="assets/mobile.jpeg"> 
                        <div class="position-absolute top-0 start-0 ms-3 mt-5">
                            <P style="color: red;">New Arrival</P><h5 style="color: aliceblue;">Buy IPad Air.</h5> 
                    <p style="color: white;">From $599/- or<br> $49.62/mo.</p>
                    <button routerLink="/product" class="btn btn-primary">BUY NOW</button>
                    </div>
                        </div>

                </div>
                <div class="col-sm-6 p-3 position-relative">
                    <img class="w-100 h-100 rounded" src="assets/headphone.jpeg"> 
                    <div class="position-absolute top-0 start-0 ms-5 mt-5">
                        <P style="color: red;">New Arrival</P><h5 style="color: aliceblue;">Buy IPad Air.</h5> 
                    <p style="color: white;">From $599/- or<br> $49.62/mo.</p>
                    <button routerLink="/product" class="btn btn-primary">BUY NOW</button>
                    <!-- <a href="#" class="btn btn-primary" routerLink="/form">Order</a> -->
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<app-offers></app-offers>
<app-endbar></app-endbar>
<app-end-point></app-end-point>