<div class="container-fluid mt-3 p-5" style="background-color:#ddffff ;">
    <div class="row">
      <div class="col">
        <table>
            <tr>
                <td ><i class="fa-solid fa-van-shuttle fs-3 p-2"></i></td>
                <td><h5>Free Shipping</h5>From All Orders $100</td>
            </tr>
            </table>
      </div>
      <div class="col">
        <table>
            <tr>
                <td ><i class="fa-solid fa-gift fs-3 p-2 w-50"></i></td>
                <td><h5>Daily Surprice Offers</h5>Save up to 25% offer</td>
            </tr>
            </table>
      </div>
      <div class="col">
        <table>
            <tr>
                <td ><i class="fa-solid fa-headset fs-3 p-2 w-50"></i></td>
                <td><h5>Support 24/7</h5>Shop with an expert</td>
            </tr>
            </table>
      </div>
      <div class="col">
        <table>
            <tr>
                <td ><i class="fa-solid fa-fan fs-3 p-2 w-50"></i></td>
                <td><h5>Affordable Prices</h5>Get factory direct prices</td>
            </tr>
            </table>
      </div>
      <div class="col">
        <table>
            <tr>
                <td ><i class="fa-regular fa-credit-card fs-3 p-2 w-50"></i></td>
                <td><h5>Secure Payments</h5>100% Producted Payments</td>
            </tr>
            </table>
      </div>
    </div>
  </div>
