<div class="container">
    <br>
    <h4 class="text-center h2">Home Appliances</h4>
	<br>
	<div class="row" id="ads">
    <!-- Category Card -->
    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
                <span class="card-notify-badge">FREE Shipping!</span>
                <span class="card-notify-year h6">5
                    <i class="fa-solid fa-star"></i>
                </span>
                <img class="img-fluid ms-5" src="assets/app1.jpg" alt="" height="200px" width="300px" />
            </div>
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge"><h6>₹2,499.00</h6></span>
                <span class="card-detail-badge ms-2"><s>₹3,695.00 </s></span>
                <span class="card-detail-badge ms-2">  32%</span>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h5>Havells 175 mm I-Cool Table Fan</h5>
                </div>
                <a class="ad-btn" href="#">Buy</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
                <span class="card-notify-badge">FREE Shipping!</span>
                <span class="card-notify-year h6">3.5
                    <i class="fa-solid fa-star"></i>
                </span>
                <img class="img-fluid ms-5" src="assets/app2.jpg" alt="Alternate Text"  height="100px" width="300px"/>
            </div>
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge "><h6 class="mt-2">₹9,499.00</h6></span>
                <span class="card-detail-badge ms-2"><s>₹12,185.00 </s></span>
                <span class="card-detail-badge ms-2">22%</span>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h5>Bajaj 25 litres Storage Water Heater with 4-in-1 Multifunctional Valve</h5>
                </div>
                <a class="ad-btn" href="#">Buy</a>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
                <span class="card-notify-badge">FREE Shipping!</span>
                <span class="card-notify-year h6">
                    4<i class="fa-solid fa-star"></i>
                </span>
                <img class="img-fluid ms-5 mt-1" src="assets/app3.jpg" alt="Alternate Text" height="160px" width="280px" />
            </div>
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge "><h6 class="mt-2">₹2,190.00</h6></span>
                <span class="card-detail-badge ms-2"><s>₹2,690.00 </s></span>
                <span class="card-detail-badge ms-2">19%</span>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h5>Morphy Richards Orbit PTC Non OFR Room Heater with Temperature Control</h5>
                </div>
                <a class="ad-btn" href="#">Buy</a>
            </div>
        </div>
    </div>
    </div>
    <br>

    <div class="row mt-4" id="ads">
        <!-- Category Card -->
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">FREE Shipping!</span>
                    <span class="card-notify-year h6">4
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <img class="img-fluid ms-5" src="assets/app4.jpg" alt="" height="200px" width="300px" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><h6 class="mt-2">₹4,590.00</h6></span>
                    <span class="card-detail-badge ms-2"><s>₹7,995.00 </s></span>
                    <span class="card-detail-badge ms-2"> 43%</span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Prestige Wet & Dry Vacuum Cleaner Typhoon 05, Red and Black</h5>
                    </div>
                    <a class="ad-btn" href="#">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">FREE Shipping!</span>
                    <span class="card-notify-year h6">5
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <img class="img-fluid ms-5" src="assets/app5.jpg" alt="Alternate Text"  height="200px" width="300px"/>
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge "><h6 class="mt-2">₹51,592.00</h6></span>
                    <span class="card-detail-badge ms-2"><s>₹80,990.00 </s></span>
                    <span class="card-detail-badge ms-2">36%</span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Samsung 523 Litres 2 Star Double Door Refrigerator, Real Stainless</h5><p></p>
                    </div>
                    <a class="ad-btn" href="#">Buy</a>
                </div>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">FREE Shipping!</span>
                    <span class="card-notify-year h6">
                        4.5<i class="fa-solid fa-star"></i>
                    </span>
                    <img class="img-fluid ms-5 mt-5 ms-5" src="assets/app6.jpg" alt="Alternate Text" height="350px" width="250px" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><h6 class="mt-2">₹7,990.00</h6></span>
                    <span class="card-detail-badge ms-2"><s>₹14,490.00</s></span>
                    <span class="card-detail-badge ms-2">45%</span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Foxsky 7 Kg Top Loading Semi-Automatic Washing Machine with 3D Scrub Technology</h5>
                    </div>
                    <a class="ad-btn" href="#">Buy</a>
                </div>
            </div>
        </div>
        </div>
        <br>
        <br>

        <div class="row mt-4" id="ads">
            <!-- Category Card -->
            <div class="col-md-4">
                <div class="card rounded">
                    <div class="card-image">
                        <span class="card-notify-badge">FREE Shipping!</span>
                        <span class="card-notify-year h6">4.5
                            <i class="fa-solid fa-star"></i>
                        </span>
                        <img class="img-fluid ms-5" src="assets/app7.jpg" alt="" height="200px" width="300px" />
                    </div>
                    <div class="card-image-overlay m-auto">
                        <span class="card-detail-badge"><h6 class="mt-2">₹8,990.00</h6></span>
                        <span class="card-detail-badge ms-2"><s>₹8,990.00</s></span>
                        <span class="card-detail-badge ms-2"> 34%</span>
                    </div>
                    <div class="card-body text-center">
                        <div class="ad-title m-auto">
                            <h5>Voltas Beko 7 kg Top Loading Semi Automatic Washing Machine</h5>
                        </div>
                        <a class="ad-btn" href="#">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card rounded">
                    <div class="card-image">
                        <span class="card-notify-badge">FREE Shipping!</span>
                        <span class="card-notify-year h6">4
                            <i class="fa-solid fa-star"></i>
                        </span>
                        <img class="img-fluid ms-5" src="assets/app8.jpg" alt="Alternate Text"  height="200px" width="300px"/>
                    </div>
                    <div class="card-image-overlay m-auto">
                        <span class="card-detail-badge "><h6 class="mt-2"> ₹9,170.00</h6></span>
                        <span class="card-detail-badge ms-2"><s>₹13,490.00 </s></span>
                        <span class="card-detail-badge ms-2">32%</span>
                    </div>
                    <div class="card-body text-center">
                        <div class="ad-title m-auto">
                            <h5>Candes Inova 2000W Fan-based Room Heater with Over-Heat Protection</h5><p></p>
                        </div>
                        <a class="ad-btn" href="#">Buy</a>
                    </div>
                </div>
            </div>
        
            <div class="col-md-4">
                <div class="card rounded">
                    <div class="card-image">
                        <span class="card-notify-badge">FREE Shipping!</span>
                        <span class="card-notify-year h6">
                            5<i class="fa-solid fa-star"></i>
                        </span>
                        <img class="img-fluid ms-5 mt-5 ms-5" src="assets/app9.jpg" alt="Alternate Text" height="350px" width="250px" />
                    </div>
                    <div class="card-image-overlay m-auto">
                        <span class="card-detail-badge"><h6 class="mt-2">₹6,090.00</h6></span>
                        <span class="card-detail-badge ms-2"><s>₹6,890.00</s></span>
                        <span class="card-detail-badge ms-2">12%</span>
                    </div>
                    <div class="card-body text-center">
                        <div class="ad-title m-auto">
                            <h5>Voltas Beko 20 litres Solo Microwave Oven</h5>
                        </div>
                        <a class="ad-btn" href="#">Buy</a>
                    </div>
                </div>
            </div>
            </div>
</div>



