<div class="container-fluid p-2">
  <nav id="navbar" class="navbar navbar-expand-lg" style="background-color: darkblue;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand fs-3 ms-5" href="#" style="color: white;">Digitic...</a>
        <div class="input-group  w-50">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
          <span class="input-group-text" id="basic-addon2"><i
              class="fa-solid fa-magnifying-glass text-primary"></i></span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <i class="fa-solid fa-location-dot fs-1 ms-5 me-3 text-light"></i>
          <h4 style="color: white;" class="me-3 mt-2">Location</h4>
          <i class="fa-solid fa-user-plus fs-1 text-light ms-5 me-3"></i>
          <a style="color: white;font-size: 25px;" (click)="signup()">Sign Up</a>
          <!-- <div class="dropdown">
                <i class="fa-regular fa-user fs-1 text-light ms-5 me-3"></i>
                <a class="btn btn-secondary dropdown-toggle dropdown-toggle-split" routerLink="signup" href="#" role="button"  
                data-bs-toggle="dropdown" (click)="login()" aria-expanded="false" style="color: white;font-size: 25px;">
                  Login
                </a>
              
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
               -->
          <!-- Example single danger button -->
          <div class="btn-group ms-5 me-3">
            <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              Login
            </button>
            <ul class="dropdown-menu bg-info">
              <li><a class="dropdown-item" href="#" routerLink="signup" (click)="login()">
                  <i class="fa-solid fa-user-plus me-3"></i> Login</a></li>
              <li>
                <a class="dropdown-item" href="#">
                  <i class="fa-solid fa-cart-shopping me-3"></i>My Order</a>
              </li>
              <li><a class="dropdown-item" href="#">
                  <i class="fa-solid fa-user-gear me-3"></i>Profile</a></li>
              <li><a class="dropdown-item" href="#">
                  <i class="fa-solid fa-gear me-3"></i>Settings & Privicy</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">
                  <i class="fa-solid fa-right-from-bracket me-3"></i>Logout</a></li>
            </ul>
          </div>
          <i class="fa-solid fa-cart-plus fs-1 text-light ms-5 me-3"></i>
          <h5 style="color: white;">Add<br>Cart</h5>
        </div>
      </div>
    </div>
  </nav>
</div>
<div>
  <div class="container text-center">
    <div class="row row-cols-auto">
      <div class="col">
        <a href=""  routerLink="/mobile">
          <img src="assets/mobile.jpg" alt="" width="100px" height="100px">
          <h5>Mobiles</h5>
        </a>
      </div>
      <div class="col ms-4">
        <a href="" routerLink="/tv">
          <img src="assets/TV.jpg" alt="" width="100px" height="100px">
          <h5>Tv</h5>
        </a>
      </div>
      <div class="col ms-4">
        <a href="" routerLink="/appliance">
          <img src="assets/appliances.jpeg" alt="" width="100px" height="100px">
          <h5>Appliances</h5>
        </a>
      </div>
      <div class="col ms-4">
        <a href="" routerLink="/fashion">
          <img src="assets/fashionss.jpeg" alt="" width="100px" height="100px">
          <h5>Fashion</h5>
        </a>
      </div>
      <div class="col ms-4">
        <a href="" routerLink="/beauty">
          <img src="assets/beauty.jpg" alt="" width="100px" height="100px">
          <h5>Beauty</h5>
        </a>
      </div>
      <div class="col ms-4">
        <a href="" routerLink="/furnicture">
          <img src="assets/funituress.jpeg" alt="" width="100px" height="100px">
          <h5>Furniture</h5>
        </a>
      </div>
      <div class="col ms-4">
        <a href="" routerLink="/sports">
          <img src="assets/Sports.jpeg" alt="" width="100px" height="100px">
            <h5>Sports</h5>        
        </a>
      </div>
      <div class="col ms-4">
        <a href="">
          <img src="assets/Kitchen.jpg" alt="" width="100px" height="100px">
          <h5>Kitchen</h5>
        </a> 
      </div>
      <div class="col ms-4">
        <a href="">
          <img src="assets/Toys.jpg" alt="" width="100px" height="100px">
          <h5>Toys</h5>
        </a>
      </div>
  
    </div>
  </div>