<!-- <div class="container">
    <div class="card border-primary mt-5" style="max-width: 500px; margin: 0 auto;">
      <div class="card-header bg-primary text-white">
        <h1 class="card-title text-center">Login</h1>
      </div>
      <div class="card-body">
        <form action="/action_page.php" class="was-validated">
          <div class="mb-3">
            <label for="uname" class="form-label">Username:</label>
            <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="mb-3">
            <label for="pwd" class="form-label">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <button type="submit" class="btn btn-primary d-block mx-auto" (click)="login()">Login</button>
          <button type="submit" class="btn btn-primary d-block mx-auto" (click)="register()">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
   -->

   <div class="container">
    <div class="row">
      <div class="col-md-6">
<div class="card">
  <div class="text-center">
    <h1 style="color: azure;">Login</h1>
    <h6 style="color: azure;"> Please enter email & password !!</h6>
  </div>
  <form>
      <div class="mb-3">
        <label style="color: azure;" for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text" style="color: azure;">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label style="color: azure;" for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input style="color: azure;" type="checkbox" class="form-check-input" id="exampleCheck1">
        <label style="color: azure;" class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
    </form>
  
  <a class="mt-3" style="color: white;" routerLink="/register">New user? Click to signup!!</a>
</div>
      </div>
    </div>
   </div>