<div class="container mt-5">
     <h3>OPPO Mobiles</h3>
    <div class="row mb-2">
        <!-- Column 1 -->
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img src="assets/oppo1.jpg" class="card-img-top" alt=""  height="200px" width="100px">
                    <div class="card-body">
                        <h5 class="card-title h4">Oppo Reno 11 5G</h5>
                        <p class="card-text">
                            <b class="h5">8</b> GB RAM, <b>256</b> GB ROM </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item h5">₹ 31,999</li>
                     <li class="list-group-item"><s class="h6">40,999</s><b class="text-success h5"> ,21%</b></li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                            
                        </li>
                    </ul>
                    <div class="ms-3">
                        <a href="#" >
                            <button class="btn btn-warning">Buy</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Column 2 -->
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img src="assets/oppo2.jpg" class="card-img-top" alt="..." height="200px" width="200px">
                    <div class="card-body">
                        <h5 class="card-title h4">Oppo Reno 10 5G</h5>
                        <p class="card-text">
                            <b class="h5">8</b> GB RAM, <b>256</b> GB ROM </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item h5">₹ 32,999</li>
                        <li class="list-group-item"><s class="h6">38,999</s><b class="text-success h5"> ,15%</b></li>
                      <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                      </li>
                    </ul>
                    <div class="ms-3">
                        <a href="#" >
                            <button class="btn btn-warning">Buy</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Column 3 -->
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img src="assets/oppo3.jpg" class="card-img-top" alt="..." height="200px" width="200px">
                    <div class="card-body">
                        <h5 class="card-title h4">Oppo F21 Pro</h5>
                        <p class="card-text">
                            <b class="h5">8</b> GB RAM, <b>128</b> GB ROM </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item h5">₹ 23,399</li>
                        <li class="list-group-item"><s class="h6">31,999</s><b class="text-success h5"> ,26%</b></li>
                      <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                      </li>
                    </ul>
                    <div class="ms-3">
                        <a href="#" >
                            <button class="btn btn-warning">Buy</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Column 4 -->
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img src="assets/oppo4.jpg" class="card-img-top" alt="..." height="200px" width="200px">
                    <div class="card-body">
                        <h5 class="card-title h4">Oppo Reno 8</h5>
                        <p class="card-text">
                            <b class="h5">8</b> GB RAM, <b>128</b> GB ROM </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item h5">₹ 24,499</li>
                        <li class="list-group-item"><s class="h6">27,999</s><b class="text-success h5"> ,10%</b></li>
                      <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                      </li>
                    </ul>
                    <div class="ms-3">
                        <a href="#" >
                            <button class="btn btn-warning">Buy</button>
                        </a>
                    </div>
                  
                </div>
            </div>
        </div>

    </div>
</div>

<!-- realme mobiles -->


<div class="container mt-5">
    <h3>Realme Mobiles</h3>
   <div class="row mb-2">
       <!-- Column 1 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/realme1.jpg" class="card-img-top" alt=""  height="200px" width="100px">
                   <div class="card-body">
                    <h5 class="card-title h4">Realme 11 5G</h5>
                    <p class="card-text">
                        <b class="h5">8</b> GB RAM, <b>256</b> GB ROM </p>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item h5">₹ 19,999</li>
                    <li class="list-group-item"><s class="h6">22,999</s><b class="text-success h5"> ,13%</b></li>
                       <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                       </li>
                   </ul>
                   <div class="ms-3">
                       <a href="#" >
                           <button class="btn btn-warning">Buy</button>
                       </a>
                   </div>
               </div>
           </div>
       </div>

       <!-- Column 2 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/realme2.jpeg" class="card-img-top" alt="..." height="200px" width="200px">
                   <div class="card-body">
                    <h5 class="card-title h4">Realme 10 Pro</h5>
                    <p class="card-text">
                        <b class="h5">8</b> GB RAM, <b>128</b> GB ROM </p>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item h5">₹ 24,999</li>
                    <li class="list-group-item"><s class="h6">25,999</s><b class="text-success h5"> ,3%</b></li>
                     <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                     </li>
                   </ul>
                   <div class="ms-3">
                       <a href="#" >
                           <button class="btn btn-warning">Buy</button>
                       </a>
                   </div>
               </div>
           </div>
       </div>

       <!-- Column 3 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/realme3.jpeg" class="card-img-top" alt="..." height="200px" width="200px">
                   <div class="card-body">
                    <h5 class="card-title h4">Realme 9i</h5>
                    <p class="card-text">
                        <b class="h5">6</b> GB RAM, <b>128</b> GB ROM </p>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item h5">₹ 15,499</li>
                     <li class="list-group-item"><s class="h6">20,999</s><b class="text-success h5"> ,26%</b></li>
                     <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                     </li>
                   </ul>
                   <div class="ms-3">
                       <a href="#" >
                           <button class="btn btn-warning">Buy</button>
                       </a>
                   </div>
               </div>
           </div>
       </div>

       <!-- Column 4 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/realme4.jpg" class="card-img-top" alt="..." height="200px" width="200px">
                   <div class="card-body">
                    <h5 class="card-title h4">Realme C53</h5>
                    <p class="card-text">
                        <b class="h5">6</b> GB RAM, <b>128</b> GB ROM </p>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item h5">₹ 11,999</li>
                     <li class="list-group-item"><s class="h6">13,999</s><b class="text-success h5"> ,14%</b></li>
                     <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                     </li>
                   </ul>
                   <div class="ms-3">
                       <a href="#" >
                           <button class="btn btn-warning">Buy</button>
                       </a>
                   </div>
                 
               </div>
           </div>
       </div>

   </div>
</div>

<!-- apple mobiles -->
<div class="container mt-5">
    <h3>Apple Mobiles</h3>
   <div class="row mb-2">
       <!-- Column 1 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/apple1.jpeg" class="card-img-top" alt=""  height="200px" width="100px">
                   <div class="card-body">
                    <h5 class="card-title h4">Apple iphone 15</h5>
                    <p class="card-text">
                        <b class="h5">8</b> GB RAM, <b>128</b> GB ROM </p>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item h5">₹ 72,999</li>
                     <li class="list-group-item"><s class="h6">79,999</s><b class="text-success h5"> ,8%</b></li>
                       <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                       </li>
                   </ul>
                   <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
               </div>
           </div>
       </div>

       <!-- Column 2 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/apple2.jpeg" class="card-img-top" alt="..." height="200px" width="200px">
                   <div class="card-body">
                    <h5 class="card-title h4">Apple iphone 14</h5>
                    <p class="card-text">
                        <b class="h5">8</b> GB RAM, <b>128</b> GB ROM </p>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item h5">₹ 58,999</li>
                    <li class="list-group-item"><s class="h6">69,999</s><b class="text-success h5"> ,15%</b></li>
                     <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                     </li>
                   </ul>
                   <div class="ms-3">
                        <a href="#" >
                            <button class="btn btn-warning">Buy</button>
                        </a>
                    </div>
               </div>
           </div>
       </div>

       <!-- Column 3 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/apple3.jpeg" class="card-img-top" alt="..." height="200px" width="200px">
                   <div class="card-body">
                    <h5 class="card-title h4">Apple iphone 13</h5>
                    <p class="card-text">
                        <b class="h5">8</b> GB RAM, <b>256</b> GB ROM </p>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item h5">₹ 63,999</li>
                    <li class="list-group-item"><s class="h6">69,999</s><b class="text-success h5"> ,8%</b></li>
                     <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                     </li>
                   </ul>
                   <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
               </div>
           </div>
       </div>

       <!-- Column 4 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/apple4.jpg" class="card-img-top" alt="..." height="200px" width="200px">
                   <div class="card-body">
                    <h5 class="card-title h4">Apple iphone 12pro</h5>
                    <p class="card-text">
                        <b class="h5">8</b> GB RAM, <b>256</b> GB ROM </p>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item h5">₹ 82,999</li>
                    <li class="list-group-item"><s class="h6">89,900</s><b class="text-success h5"> ,7%</b></li>
                     <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                     </li>
                   </ul>
                   <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
               </div>
           </div>
       </div>

   </div>

</div>

<!-- vivo mobiles -->
<div class="container mt-5">
    <h3>Vivo Mobiles</h3>
   <div class="row mb-2">
       <!-- Column 1 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/vivo1.jpg" class="card-img-top" alt=""  height="200px" width="100px">
                   <div class="card-body">
                    <h5 class="card-title h4">Vivo X100</h5>
                    <p class="card-text">
                        <b class="h5">12</b> GB RAM, <b>256</b> GB ROM </p>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item h5">₹ 74,999</li>
                     <li class="list-group-item"><s class="h6">69,999</s><b class="text-success h5"> ,6%</b></li>
                       <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                       </li>
                   </ul>
                   <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
               </div>
           </div>
       </div>

       <!-- Column 2 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/vivo2.jpg" class="card-img-top" alt="..." height="200px" width="200px">
                   <div class="card-body">
                    <h5 class="card-title h4">Vivo T2 Pro</h5>
                    <p class="card-text">
                        <b class="h5">8</b> GB RAM, <b>256</b> GB ROM </p>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item h5">₹ 24,499</li>
                    <li class="list-group-item"><s class="h6">27,999</s><b class="text-success h5"> ,10%</b></li>
                     <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                     </li>
                   </ul>
                   <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
               </div>
           </div>
       </div>

       <!-- Column 3 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/vivo3.jpg" class="card-img-top" alt="..." height="200px" width="200px">
                   <div class="card-body">
                    <h5 class="card-title h4">Vivo V29e</h5>
                    <p class="card-text">
                        <b class="h5">8</b> GB RAM, <b>256</b> GB ROM </p>
                   </div>
                   <ul class="list-group list-group-flush">
                     <li class="list-group-item h5">₹ 26,999</li>
                     <li class="list-group-item"><s class="h6">31,999</s><b class="text-success h5"> ,15%</b></li>
                     <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                     </li>
                   </ul>
                   <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
               </div>
           </div>
       </div>

       <!-- Column 4 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/vivo4.jpg" class="card-img-top" alt="..." height="200px" width="200px">
                   <div class="card-body">
                    <h5 class="card-title h4">Vivo T2x</h5>
                    <p class="card-text">
                        <b class="h5">8</b> GB RAM, <b>128</b> GB ROM </p>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item h5">₹ 12,999</li>
                     <li class="list-group-item"><s class="h6">18,999</s><b class="text-success h5"> ,31%</b></li>
                     <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                     </li>
                   </ul>
                   <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
                 
               </div>
           </div>
       </div>

   </div>

</div>

<!-- redmi mobiles -->

<div class="container mt-5">
    <h3>Redmi Mobiles</h3>
   <div class="row mb-2">
       <!-- Column 1 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/redmi1.jpg" class="card-img-top" alt=""  height="200px" width="100px">
                   <div class="card-body">
                    <h5 class="card-title h4">Redmi 13 Pro+</h5>
                    <p class="card-text">
                        <b class="h5">8</b> GB RAM, <b>256</b> GB ROM </p>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item h5">₹ 31,499</li>
                     <li class="list-group-item"><s class="h6">33,999</s><b class="text-success h5"> ,5%</b></li>
                       <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                       </li>
                   </ul>
                   <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
               </div>
           </div>
       </div>

       <!-- Column 2 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/redmi2.jpg" class="card-img-top" alt="..." height="200px" width="200px">
                   <div class="card-body">
                    <h5 class="card-title h4">Redmi 13C 5G</h5>
                    <p class="card-text">
                        <b class="h5">6</b> GB RAM, <b>128</b> GB ROM </p>
                   </div>
                   <ul class="list-group list-group-flush">
                     <li class="list-group-item h5">₹ 10,499</li>
                     <li class="list-group-item"><s class="h6">13,999</s><b class="text-success h5"> ,25%</b></li>
                     <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                     </li>
                   </ul>
                   <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
               </div>
           </div>
       </div>

       <!-- Column 3 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/redmi3.jpg" class="card-img-top" alt="..." height="200px" width="200px">
                   <div class="card-body">
                    <h5 class="card-title h4">Redmi 12 5G</h5>
                        <p class="card-text">
                            <b class="h5">8</b> GB RAM, <b>256</b> GB ROM </p>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item h5">₹ 14,499</li>
                     <li class="list-group-item"><s class="h6">19,999</s><b class="text-success h5"> ,25%</b></li>
                     <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                     </li>
                   </ul>
                   <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
               </div>
           </div>
       </div>

       <!-- Column 4 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/redmi4.jpg" class="card-img-top" alt="..." height="200px" width="200px">
                   <div class="card-body">
                    <h5 class="card-title h4">Redmi Note 12</h5>
                    <p class="card-text">
                        <b class="h5">8</b> GB RAM, <b>128</b> GB ROM </p>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item h5">₹ 16,499</li>
                    <li class="list-group-item"><s class="h6">21,999</s><b class="text-success h5"> ,22%</b></li>
                     <li class="list-group-item">
                        <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star-half-stroke text-success"></i>
                     </li>
                   </ul>
                   <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
                 
               </div>
           </div>
       </div>

   </div>

</div>


