<div class="container">

    <h3 class="text-center h2 mt-5">Furnicture</h3><br>
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="assets/fu1.jpg" alt="" width="250px" height="210px">
                </li>
                <li class="list-group-item text-secondary h6">
                    Claudio Solid Wood Console Table in Teak Finish</li>
                <li class="list-group-item h6"> ₹7,019</li>
                <li class="list-group-item text-success"><s class="text-danger">₹10,799</s>, 13%</li>
                <li class="list-group-item">4 <i class="fa-solid fa-star text-warning"></i></li>
                <button class="btn btn-primary">Buy</button>

            </ul>
        </div>

        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="assets/fu2.jpg" alt="" width="250px" height="210px">
                </li>
                <li class="list-group-item text-secondary h6">
                    Frida 2 Seater Fabric Loveseat in Salsa Red Colour
                </li>
                <li class="list-group-item h6"> ₹40,383</li>
                <li class="list-group-item text-success"><s class="text-danger">₹63,099</s>, 36%</li>
                <li class="list-group-item">4 <i class="fa-solid fa-star text-warning"></i></li>
                <button class="btn btn-primary">Buy</button>

            </ul>
        </div>

        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="assets/fu3.jpg" alt="" width="250px" height="210px">
                </li>
                <li class="list-group-item text-secondary h6">
                    Mirasa Solid Wood Dining Chair set of 2 in Finish
                </li>
                <li class="list-group-item h6"> ₹10,009</li>
                <li class="list-group-item text-success"><s class="text-danger">₹18,199</s>, 45%</li>
                <li class="list-group-item">4 <i class="fa-solid fa-star text-warning"></i></li>
                <button class="btn btn-primary">Buy</button>

            </ul>
        </div>

        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="assets/fu4.jpg" alt="" width="250px" height="210px">
                </li>
                <li class="list-group-item text-secondary h6">
                    Griffin Leatherette One Seater Burgundy Leatherette Colour
                </li>
                <li class="list-group-item h6"> ₹28,513</li>
                <li class="list-group-item text-success"><s class="text-danger">
                        ₹53,799</s>, 47%</li>
                <li class="list-group-item">4 <i class="fa-solid fa-star text-warning"></i></li>
                <button class="btn btn-primary">Buy</button>

            </ul>
        </div>
    </div>
    <br>
    <br>
    <br>

    <!-- second -->
    <h4 class="text-center h2">Top Deals</h4>
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="assets/fu5.jpg" alt="" width="250px" height="230px">
                </li>
                <li class="list-group-item text-secondary h6">

                    Contour Chair & Ottoman Replica
                </li>
                <li class="list-group-item h6"> ₹29,539</li>
                <li class="list-group-item text-success"><s class="text-danger">₹84,399</s>, 65%</li>
                <li class="list-group-item">4 <i class="fa-solid fa-star text-warning"></i></li>
                <button class="btn btn-primary">Buy</button>

            </ul>
        </div>

        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="assets/fu6.jpg" alt="" width="250px" height="210px">
                </li>
                <li class="list-group-item text-secondary h6">
                    Covelo Engineered Wood Single Size Box Storage Bed
                </li>
                <li class="list-group-item h6"> ₹14,249 </li>
                <li class="list-group-item text-success"><s class="text-danger">₹24,999 </s>, 43%</li>
                <li class="list-group-item">4 <i class="fa-solid fa-star text-warning"></i></li>
                <button class="btn btn-primary">Buy</button>

            </ul>
        </div>

        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="assets/fu7.jpg" alt="" width="250px" height="210px">
                </li>
                <li class="list-group-item text-secondary h6">
                    Astrid Engineered Wood Wall Mounted TV Unit in Finish
                </li>
                <li class="list-group-item h6"> ₹8,639</li>
                <li class="list-group-item text-success"><s class="text-danger">₹17,999</s>, 52%</li>
                <li class="list-group-item">4 <i class="fa-solid fa-star text-warning"></i></li>
                <button class="btn btn-primary">Buy</button>

            </ul>
        </div>

        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="assets/fu8.jpg" alt="" width="250px" height="230px">
                </li>
                <li class="list-group-item text-secondary h6">

                    Barry Study Chair in Black Colour
                </li>
                <li class="list-group-item h6"> ₹5,624
                </li>
                <li class="list-group-item text-success"><s class="text-danger">
                        ₹12,499</s>, 55%</li>
                <li class="list-group-item">4 <i class="fa-solid fa-star text-warning"></i></li>
                <button class="btn btn-primary">Buy</button>

            </ul>
        </div>
    </div>
    <br><br><br>


    <!-- third -->
    <h4 class="text-center h2">Study Tables</h4>
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="assets/fu9.jpg" alt="" width="250px" height="210px">
                </li>
                <li class="list-group-item text-secondary h6">
                    Kevin Engineered Wood Study Table in Dark Wenge Finish</li>
                <li class="list-group-item h6"> ₹2,649
                </li>
                <li class="list-group-item text-success"><s class="text-danger">₹5,299</s>, 50%</li>
                <li class="list-group-item">4 <i class="fa-solid fa-star text-warning"></i></li>
                <button class="btn btn-primary">Buy</button>

            </ul>
        </div>

        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="assets/fu10.jpg" alt="" width="250px" height="210px">
                </li>
                <li class="list-group-item text-secondary h6">

                    Eddings Engineered Wood Study Table in Golden Oak Finish
                </li>
                <li class="list-group-item h6"> ₹11,691
                </li>
                <li class="list-group-item text-success"><s class="text-danger">₹31,599</s>, 63%</li>
                <li class="list-group-item">4 <i class="fa-solid fa-star text-warning"></i></li>
                <button class="btn btn-primary">Buy</button>

            </ul>
        </div>

        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="assets/fu11.jpg" alt="" width="250px" height="210px">
                </li>
                <li class="list-group-item text-secondary h6">

                    Wallace Engineered Wood Study Table in Wenge Finish
                </li>
                <li class="list-group-item h6"> ₹3,482
                </li>
                <li class="list-group-item text-success"><s class="text-danger">₹12,899</s>, 73%</li>
                <li class="list-group-item">4 <i class="fa-solid fa-star text-warning"></i></li>
                <button class="btn btn-primary">Buy</button>

            </ul>
        </div>

        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="assets/fu12.jpg" alt="" width="250px" height="210px">
                </li>
                <li class="list-group-item text-secondary h6">

                    Eddings Engineered Wood Study Table in Natural Oak Finish
                </li>
                <li class="list-group-item h6"> ₹10,743
                </li>
                <li class="list-group-item text-success"><s class="text-danger">
                        ₹31,599 </s>, 66%</li>
                <li class="list-group-item">4 <i class="fa-solid fa-star text-warning"></i></li>
                <button class="btn btn-primary">Buy</button>

            </ul>
        </div>
    </div><br><br><br>

    <!-- fourth -->
    <h3 class="text-center  h3">Beds with Storage</h3>
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="assets/fu13.jpg" alt="" width="250px" height="210px">
                </li>
                <li class="list-group-item text-secondary h6">
                    Athens Solid Wood King Size Box Storage Bed in Dark Walnut Finish
                </li>
                <li class="list-group-item h6"> ₹31,479</li>
                <li class="list-group-item text-success"><s class="text-danger">₹78,699</s>, 60%</li>
                <li class="list-group-item">4 <i class="fa-solid fa-star text-warning"></i></li>
                <button class="btn btn-primary">Buy</button>

            </ul>
        </div>

        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="assets/fu14.jpg" alt="" width="250px" height="210px">
                </li>
                <li class="list-group-item text-secondary h6">

                    Ateneo Wood Single Size Drawer Storage Bed Dark Walnut Finish
                </li>
                <li class="list-group-item h6"> ₹31,004
                </li>
                <li class="list-group-item text-success"><s class="text-danger">₹58,499</s>, 47%</li>
                <li class="list-group-item">4 <i class="fa-solid fa-star text-warning"></i></li>
                <button class="btn btn-primary">Buy</button>

            </ul>
        </div>

        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="assets/fu15.jpg" alt="" width="250px" height="210px">
                </li>
                <li class="list-group-item text-secondary h6">

                    Amelia Solid Wood Queen Size Box Storage Bed in Dark Walnut Finish

                </li>
                <li class="list-group-item h6"> ₹36,329
                </li>
                <li class="list-group-item text-success"><s class="text-danger">₹1,03,799 </s>, 65%</li>
                <li class="list-group-item">4 <i class="fa-solid fa-star text-warning"></i></li>
                <button class="btn btn-primary">Buy</button>

            </ul>
        </div>

        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="assets/fu16.jpg" alt="" width="250px" height="210px">
                </li>
                <li class="list-group-item text-secondary h6">
                    Brandenberg Wood King Size Box Storage Bed Dark Walnut Finish </li>
                <li class="list-group-item h6"> ₹23,969
                </li>
                <li class="list-group-item text-success"><s class="text-danger">

                        ₹79,899 </s>, 70%</li>
                <li class="list-group-item">4 <i class="fa-solid fa-star text-warning"></i></li>
                <button class="btn btn-primary">Buy</button>

            </ul>
        </div>
    </div>



</div>