<div class="container mt-5">
    <h3>Face Makeup Kit</h3>
   <div class="row mb-2">
       <!-- Column 1 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/be1.jpg" class="card-img-top" alt=""  height="220px" width="200px">
                   <div class="card-body">
                    <h5 class="card-title h5">Lakme Absolute Loose Finishing Powder </h5><br>
                    <p class="card-text">
                        <b class="h5">₹615</b>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item"><s class="h6 text-danger">₹725</s><b class="text-success h5"> ,15%</b></li>
                       <li class="list-group-item">4
                            <i class="fa-solid fa-star text-success"></i>
                       </li>
                   </ul>
                   <div class="ms-3">
                       <a href="#" >
                           <button class="btn btn-warning">Buy</button>
                       </a>
                   </div>
               </div>
           </div>
       </div>

       <!-- Column 2 -->
       <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="assets/be2.jpg" class="card-img-top" alt=""  height="220px" width="180px">
                <div class="card-body">
                 <h5 class="card-title h5">Lakme Perfecting Liquid Foundation</h5><br>
                 <p class="card-text">
                     <b class="h5">₹200</b>
                </div>
                <ul class="list-group list-group-flush">
                 <li class="list-group-item"><s class="h6 text-danger">₹800</s><b class="text-success h5"> ,12%</b></li>
                    <li class="list-group-item">4
                         <i class="fa-solid fa-star text-success"></i>
                    </li>
                </ul>
                <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

       <!-- Column 3 -->
       <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="assets/be3.jpg" class="card-img-top" alt=""  height="220px" width="200px">
                <div class="card-body">
                 <h5 class="card-title h5">Lakme Rose Face Powder </h5><br>
                 <p class="card-text">
                     <b class="h5">₹204</b>
                </div>
                <ul class="list-group list-group-flush">
                 <li class="list-group-item"><s class="h6 text-danger">₹215</s><b class="text-success h5"> ,5%</b></li>
                    <li class="list-group-item">4
                         <i class="fa-solid fa-star text-success"></i>
                    </li>
                </ul>
                <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

       <!-- Column 4 -->
       <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="assets/be4.jpg" class="card-img-top" alt=""  height="220px" width="200px">
                <div class="card-body">
                 <h5 class="card-title h5">Lakme 9to5 Naturale Gel Make-up Remover </h5><br>
                 <p class="card-text">
                     <b class="h5">₹190</b>
                </div>
                <ul class="list-group list-group-flush">
                 <li class="list-group-item"><s class="h6 text-danger">₹200</s><b class="text-success h5"> ,5%</b></li>
                    <li class="list-group-item">4
                         <i class="fa-solid fa-star text-success"></i>
                    </li>
                </ul>
                <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
   </div><br>
   <br>


   <!-- sencond row -->

   <h3>Lipstick</h3>
   <div class="row mb-2">
       <!-- Column 1 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/be5.jpg" class="card-img-top" alt=""  height="220px" width="200px">
                   <div class="card-body">
                    <h5 class="card-title h5">Lakme 9to5 Primer + Matte Liquid Lip Color  </h5><br>
                    <p class="card-text">
                        <b class="h5">₹449</b>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item"><s class="h6 text-danger">₹499</s><b class="text-success h5"> ,10%</b></li>
                       <li class="list-group-item">4
                            <i class="fa-solid fa-star text-success"></i>
                       </li>
                   </ul>
                   <div class="ms-3">
                       <a href="#" >
                           <button class="btn btn-warning">Buy</button>
                       </a>
                   </div>
               </div>
           </div>
       </div>

       <!-- Column 2 -->
       <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="assets/be6.jpg" class="card-img-top" alt=""  height="220px" width="180px">
                <div class="card-body">
                 <h5 class="card-title h5">Lakmé Absolute 3D Lipstick</h5><br>
                 <p class="card-text">
                     <b class="h5">₹825</b>
                </div>
                <ul class="list-group list-group-flush">
                 <li class="list-group-item"><s class="h6 text-danger">₹900</s><b class="text-success h5"> ,12%</b></li>
                    <li class="list-group-item">4
                         <i class="fa-solid fa-star text-success"></i>
                    </li>
                </ul>
                <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

       <!-- Column 3 -->
       <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="assets/be7.jpg" class="card-img-top" alt=""  height="250px" width="200px">
                <div class="card-body">
                 <h5 class="card-title h5">Lakmé Cushion Matte  </h5><br>
                 <p class="card-text">
                     <b class="h5">₹284</b>
                </div>
                <ul class="list-group list-group-flush">
                 <li class="list-group-item"><s class="h6 text-danger">₹299</s><b class="text-success h5"> ,5%</b></li>
                    <li class="list-group-item">4
                         <i class="fa-solid fa-star text-success"></i>
                    </li>
                </ul>
                <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

       <!-- Column 4 -->
       <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="assets/be8.jpg" class="card-img-top" alt=""  height="200px" width="200px">
                <div class="card-body">
                 <h5 class="card-title h5">Lakmé Absolute Matte Ultimate Lip Color with Argan Oil </h5><br>
                 <p class="card-text">
                     <b class="h5">₹825</b>
                </div>
                <ul class="list-group list-group-flush">
                 <li class="list-group-item"><s class="h6 text-danger">₹900</s><b class="text-success h5"> ,13%</b></li>
                    <li class="list-group-item">4
                         <i class="fa-solid fa-star text-success"></i>
                    </li>
                </ul>
                <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
   </div><br><br>


   <!-- third row  -->

   <h3>Eyes</h3>
   <div class="row mb-2">
       <!-- Column 1 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/be9.jpg" class="card-img-top" alt=""  height="220px" width="200px">
                   <div class="card-body">
                    <h5 class="card-title h5">Lakmé Eyeconic Curling Mascara </h5><br>
                    <p class="card-text">
                        <b class="h5">₹449</b>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item"><s class="h6 text-danger">₹499</s><b class="text-success h5"> ,10%</b></li>
                       <li class="list-group-item">4
                            <i class="fa-solid fa-star text-success"></i>
                       </li>
                   </ul>
                   <div class="ms-3">
                       <a href="#" >
                           <button class="btn btn-warning">Buy</button>
                       </a>
                   </div>
               </div>
           </div>
       </div>

       <!-- Column 2 -->
       <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="assets/be10.jpg" class="card-img-top" alt=""  height="220px" width="180px">
                <div class="card-body">
                 <h5 class="card-title h5">Lakmé Eyeconic Liquid Eyeliner </h5><br>
                 <p class="card-text">
                     <b class="h5">₹245</b>
                </div>
                <ul class="list-group list-group-flush">
                 <li class="list-group-item"><s class="h6 text-danger">₹260</s><b class="text-success h5"> ,6%</b></li>
                    <li class="list-group-item">4
                         <i class="fa-solid fa-star text-success"></i>
                    </li>
                </ul>
                <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

       <!-- Column 3 -->
       <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="assets/be11.jpg" class="card-img-top" alt=""  height="240px" width="200px">
                <div class="card-body">
                 <h5 class="card-title h5">Lakme Kajal-Black  </h5><br>
                 <p class="card-text">
                     <b class="h5">₹200</b>
                </div>
                <ul class="list-group list-group-flush">
                 <li class="list-group-item"><s class="h6 text-danger">₹215</s><b class="text-success h5"> ,5%</b></li>
                    <li class="list-group-item">4
                         <i class="fa-solid fa-star text-success"></i>
                    </li>
                </ul>
                <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

       <!-- Column 4 -->
       <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="assets/be12.jpg" class="card-img-top" alt=""  height="200px" width="190px">
                <div class="card-body">
                 <h5 class="card-title h5">Lakmé Absolute Precision Eye Artist Eyebrow Pencil  </h5><br>
                 <p class="card-text">
                     <b class="h5">₹630</b>
                </div>
                <ul class="list-group list-group-flush">
                 <li class="list-group-item"><s class="h6 text-danger">₹700</s><b class="text-success h5"> ,10%</b></li>
                    <li class="list-group-item">4
                         <i class="fa-solid fa-star text-success"></i>
                    </li>
                </ul>
                <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
   </div>


   <!-- fourth row  -->
   <h3>Nails</h3>
   <div class="row mb-2">
       <!-- Column 1 -->
       <div class="col-md-3">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <img src="assets/be13.jpg" class="card-img-top" alt=""  height="220px" width="200px">
                   <div class="card-body">
                    <h5 class="card-title h5">Lakmé Absolute Gel Stylist Nail Color</h5><br>
                    <p class="card-text">
                        <b class="h5">₹234</b>
                   </div>
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item"><s class="h6 text-danger">₹275</s><b class="text-success h5"> ,15%</b></li>
                       <li class="list-group-item">4
                            <i class="fa-solid fa-star text-success"></i>
                       </li>
                   </ul>
                   <div class="ms-3">
                       <a href="#" >
                           <button class="btn btn-warning">Buy</button>
                       </a>
                   </div>
               </div>
           </div>
       </div>

       <!-- Column 2 -->
       <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="assets/be14.jpg" class="card-img-top" alt=""  height="220px" width="180px">
                <div class="card-body">
                 <h5 class="card-title h5">Lakmé Color Crush Nail Art  </h5><br>
                 <p class="card-text">
                     <b class="h5">₹132</b>
                </div>
                <ul class="list-group list-group-flush">
                 <li class="list-group-item"><s class="h6 text-danger">₹165</s><b class="text-success h5"> ,20%</b></li>
                    <li class="list-group-item">4
                         <i class="fa-solid fa-star text-success"></i>
                    </li>
                </ul>
                <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

       <!-- Column 3 -->
       <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="assets/be15.jpg" class="card-img-top" alt=""  height="220px" width="200px">
                <div class="card-body">
                 <h5 class="card-title h5">Lakmé 9 to 5 Primer + Gloss Nail Color </h5><br>
                 <p class="card-text">
                     <b class="h5">₹190</b>
                </div>
                <ul class="list-group list-group-flush">
                 <li class="list-group-item"><s class="h6 text-danger">₹215</s><b class="text-success h5"> ,12%</b></li>
                    <li class="list-group-item">4
                         <i class="fa-solid fa-star text-success"></i>
                    </li>
                </ul>
                <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

       <!-- Column 4 -->
       <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="assets/be4.jpg" class="card-img-top" alt=""  height="220px" width="200px">
                <div class="card-body">
                 <h5 class="card-title h5">Lakmé True Wear Color Crush Nail Color</h5><br>
                 <p class="card-text">
                     <b class="h5">₹ 90</b>
                </div>
                <ul class="list-group list-group-flush">
                 <li class="list-group-item"><s class="h6 text-danger"> ₹150</s><b class="text-success h5"> ,40%</b></li>
                    <li class="list-group-item">4
                         <i class="fa-solid fa-star text-success"></i>
                    </li>
                </ul>
                <div class="ms-3">
                    <a href="#" >
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
   </div>

</div>