<div class="container">
    <div class="row">
      <div class="col-md-6">
<div class="card">
  <div class="text-center">
    <h1 style="color: azure;">Sign Up</h1>
    <h6 style="color: azure;"> Register Yourself!!</h6>
  </div>
  <form [formGroup]="contactForm" (ngSubmit)="contactForm.valid && onSubmit()">
    <div class="mb-3">
      <label style="color: azure;" for="exampleInputPassword1" class="form-label">Full Name</label>
      <input formControlName="name" type="text" class="form-control" >
    </div>
    <div class="mb-3">
      <label style="color: azure;" for="exampleInputPassword1" class="form-label">Mobile Number</label>
      <input formControlName="mobile" type="number" class="form-control"  appOnlyNumber>
    </div>
      <div class="mb-3">
        <label style="color: azure;" for="exampleInputEmail1" class="form-label">Email address</label>
        <input formControlName="email" type="email" class="form-control"  >
        <div class="form-text" style="color: azure;">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label style="color: azure;" for="exampleInputPassword1" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control" >
      </div>
      <div class="mb-3 form-check">
        <input style="color: azure;" type="checkbox" class="form-check-input" id="exampleCheck1">
        <label style="color: azure;" class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary" >Sign Up</button>
    </form>
  
  <a class="mt-3" style="color: white;" routerLink="/login">Already Registered? Click to Login!!</a>
</div>
      </div>
    </div>
   </div>
   
    <!-- <form [formGroup]="contactForm" (ngSubmit)="contactForm.valid && onSubmit()">
        <div>
          <label>name : </label>
          <input type="text" name="name" formControlName="name">
          <span *ngIf="contactForm.get('username')?.invalid && contactForm.get('name')?.touched">
            <span style="color: red;" *ngIf="contactForm.get('name')?.errors?.['required']">
              *name is required
            </span>
            <span style="color: red;" *ngIf="contactForm.get('name')?.errors?.['maxlength']">
              *Maximum 10 Characters required
            </span>
            <span style="color: red;" *ngIf="contactForm.get('name')?.errors?.['minlength']">
              *Minimum 3 Characters required
            </span>
          </span>
      
        </div>
        <br><br>
        <div>
          <label>Password : </label>
          <input type="password" name="email" formControlName="password">
          <span *ngIf="contactForm.get('password')?.invalid && contactForm.get('password')?.touched">
            <span style="color: red;" *ngIf="contactForm.get('password')?.errors?.['required']">
              *Password is required
            </span>
          </span>
        </div>
        <br><br>

        <div>
            <label>email : </label>
            <input type="text" name="email" formControlName="email">
            <span *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
              <span style="color: red;" *ngIf="contactForm.get('email')?.errors?.['required']">
                *email is required
              </span>
            </span>
          </div>
          <br><br>

          <div>
            <label>mobile : </label>
            <input type="number" name="mobile" formControlName="mobile">
            <span *ngIf="contactForm.get('mobile')?.invalid && contactForm.get('mobile')?.touched">
              <span style="color: red;" *ngIf="contactForm.get('mobile')?.errors?.['required']">
                *mobile is required
              </span>
            </span>
          </div>
          <br><br>
        
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>
       -->