<div class="container mt-5">
    <h3 class="text-center h1 text-primary">TV</h3>
    <div class="card">
        <div class="card-body">
            <div class="row  p-2">
                <div class="col-3 p-2" data-bs-target="#tv1" data-bs-toggle="modal">
                    <img src="assets/tv1.jpg" alt="" height="200px" width="300px">
                </div>
                <div class="col-7 p-2">
                    <p class="h4">REDMI 80 cm (32 inch) HD Ready LED Smart FireTv OS 7 TV (L32R8-FVIN)</p><br>
                    <ul>
                        <li class="h6">Operating System: FireTv OS 7</li>
                        <li class="h6">HD Ready 1366 x 768 Pixels</li>
                        <li class="h6">Launch Year: 2023</li>
                    </ul>
                </div>
                <div class="col-2 p-4">
                    <p class="h3">₹11,999</p>
                    <p class="h6"><s>₹24,999</s></p>
                    <p class="text-success h5">52% off</p>

                </div>

            </div>
        </div>
    </div>
    <!-- second -->
    <div class="card">
        <div class="card-body">
            <div class="row  p-2">
                <div class="col-3 p-2" data-bs-target="#tv2" data-bs-toggle="modal">
                    <img src="assets/tv2.jpg" alt="" height="200px" width="300px">
                </div>
                <div class="col-7 p-2">
                    <p class="h4">Mi A series 80 cm (32 inch) HD Ready LED Smart Google TV 2023 Edition with HD |Dolby
                        Audio | DTS:HD |</p><br>
                    <ul>
                        <li class="h6">Operating System: Google TV</li>
                        <li class="h6">HD Ready 1366 x 768 Pixels</li>
                        <li class="h6">Launch Year: 2023</li>
                        <li class="h6">1 Year Warranty on Product and 2 Years Warranty on Panel</li>
                    </ul>
                </div>
                <div class="col-2 p-4">
                    <p class="h3">₹12,999</p>
                    <p class="h6"><s>₹24,999</s></p>
                    <p class="text-success h5">48% off</p>

                </div>

            </div>
        </div>
    </div>
    <!-- third -->
    <div class="card">
        <div class="card-body">
            <div class="row  p-2">
                <div class="col-3 p-2" data-bs-target="#tv3" data-bs-toggle="modal">
                    <img src="assets/tv3.jpg" alt="" height="200px" width="300px">
                </div>
                <div class="col-7 p-2">
                    <p class="h4">iFFALCON by TCL 79.97 cm (32 inch) HD Ready LED Smart Android TV with Google Assistant
                    </p><br>
                    <ul>
                        <li class="h6">Operating System: FireTv OS 7</li>
                        <li class="h6">HD Ready 1366 x 768 Pixels</li>
                        <li class="h6">Launch Year: 2023</li>
                    </ul>
                </div>
                <div class="col-2 p-4">
                    <p class="h3">₹7,990</p>
                    <p class="h6"><s>₹19,999</s></p>
                    <p class="text-success h5">60% off</p>

                </div>

            </div>
        </div>
    </div>
    <!-- fourth -->
    <div class="card">
        <div class="card-body">
            <div class="row  p-2">
                <div class="col-3 p-2" data-bs-target="#tv4" data-bs-toggle="modal">
                    <img src="assets/tv4.jpg" alt="" height="200px" width="300px">
                </div>
                <div class="col-7 p-2">
                    <p class="h4">iFFALCON by TCL U62 139 cm (55 inch) Ultra HD (4K) LED Smart Google TV with Dolby
                        Audio, HDR10</p><br>
                    <ul>
                        <li class="h6">Operating System: Google TV</li>
                        <li class="h6">Ultra HD (4K) 3840 x 2160 Pixels</li>
                        <li class="h6">Launch Year: 2022</li>
                        <li class="h6">1 Year Warranty</li>
                    </ul>
                </div>
                <div class="col-2 p-4">
                    <p class="h3">₹24,999</p>
                    <p class="h6"><s>₹73,999</s></p>
                    <p class="text-success h5">66% off</p>

                </div>

            </div>
        </div>
    </div>

    <!-- fifth -->
    <div class="card">
        <div class="card-body">
            <div class="row  p-2">
                <div class="col-3 p-2" data-bs-target="#tv5" data-bs-toggle="modal">
                    <img src="assets/tv5.jpg" alt="" height="200px" width="300px">
                </div>
                <div class="col-7 p-2">
                    <p class="h4">SAMSUNG 80 cm (32 Inch) HD Ready LED Smart Tizen TV 2022 Edition with Bezel-free
                        Design</p><br>
                    <ul>
                        <li class="h6">Operating System: Tizen</li>
                        <li class="h6">HD Ready 1366 x 768 Pixels</li>
                        <li class="h6">Launch Year: 2022</li>
                        <li class="h6">1 Year Comprehensive Warranty on Product and 1 Year Additional on Panel</li>
                    </ul>
                </div>
                <div class="col-2 p-4">
                    <p class="h3">₹14,999</p>
                    <p class="h6"><s>₹18,999</s></p>
                    <p class="text-success h5">20% off</p>

                </div>

            </div>
        </div>
    </div>
    <!-- sixth -->
    <div class="card">
        <div class="card-body">
            <div class="row  p-2">
                <div class="col-3 p-2" data-bs-target="#tv6" data-bs-toggle="modal">
                    <img src="assets/tv6.jpg" alt="" height="200px" width="300px">
                </div>
                <div class="col-7 p-2">
                    <p class="h4">Acer Advanced I Series 80.01 cm (32 inch) HD Ready LED Smart Google TV 2023 Edition
                        with 1.5GB RAM, 16GB ROM</p><br>
                    <ul>
                        <li class="h6">Operating System: Google TV</li>
                        <li class="h6">HD Ready 1366 x 768 Pixels</li>
                        <li class="h6">Launch Year: 2023</li>
                        <li class="h6">1 Year Comprehensive Warranty from the Date of Purchase</li>
                    </ul>
                </div>
                <div class="col-2 p-4">
                    <p class="h3">₹10,999</p>
                    <p class="h6"><s>₹20,999</s></p>
                    <p class="text-success h5">47% off</p>

                </div>

            </div>
        </div>
    </div>

    <!-- seventh -->

    <div class="card">
        <div class="card-body">
            <div class="row  p-2">
                <div class="col-3 p-2" data-bs-target="#tv7" data-bs-toggle="modal">
                    <img src="assets/tv7.jpg" alt="" height="200px" width="300px">
                </div>
                <div class="col-7 p-2">
                    <p class="h4">Coocaa 80 cm (32 inch) HD Ready LED Smart Coolita TV with Dolby Audio and Eye Care
                        Technology</p><br>
                    <ul>
                        <li class="h6">Operating System: Coolita</li>
                        <li class="h6">HD Ready 1366 x 768 Pixels</li>
                        <li class="h6">Launch Year: 2021</li>
                        <li class="h6">1 Year Domestic Warranty</li>
                    </ul>
                </div>
                <div class="col-2 p-4">
                    <p class="h3">₹8,999</p>
                    <p class="h6"><s>₹36,999</s></p>
                    <p class="text-success h5">77% off</p>

                </div>

            </div>
        </div>
    </div>

    <!-- eighth -->
    <div class="card">
        <div class="card-body">
            <div class="row  p-2">
                <div class="col-3 p-2" data-bs-target="#tv8" data-bs-toggle="modal">
                    <img src="assets/tv8.jpg" alt="" height="200px" width="300px">
                </div>
                <div class="col-7 p-2">
                    <p class="h4">Foxsky 102 cm (40 inch) Full HD LED Smart Android TV</p><br>
                    <ul>
                        <li class="h6">Operating System: Android</li>
                        <li class="h6">Full HD 1920 x 1080 Pixels</li>
                        <li class="h6">Launch Year: 2023</li>
                        <li class="h6">1 Year Standard Manufacturer Warranty from SkyWall</li>
                    </ul>
                </div>
                <div class="col-2 p-4">
                    <p class="h3">₹12,999</p>
                    <p class="h6"><s>₹38,999</s></p>
                    <p class="text-success h5">67% off</p>

                </div>

            </div>
        </div>
    </div>

    <!-- nineth  -->
    <div class="card">
        <div class="card-body">
            <div class="row  p-2">
                <div class="col-3 p-2" data-bs-target="#tv9" data-bs-toggle="modal">
                    <img src="assets/tv9.jpg" alt="" height="200px" width="300px">
                </div>
                <div class="col-7 p-2">
                    <p class="h4">Thomson Alpha 80 cm (32 inch) HD Ready LED Smart Linux TV 2022 Edition with 30 W Sound
                        Output & Bezel</p><br>
                    <ul>
                        <li class="h6">Operating System: Linux</li>
                        <li class="h6">HD Ready 1366 x 768 Pixels</li>
                        <li class="h6">Launch Year: 2022</li>
                        <li class="h6">1 Year Warranty on Product and 6 Months on Accessories</li>
                    </ul>
                </div>
                <div class="col-2 p-4">
                    <p class="h3">₹7,999</p>
                    <p class="h6"><s>₹14,999</s></p>
                    <p class="text-success h5">46% off</p>

                </div>

            </div>
        </div>
    </div>

    <!-- tenth -->

    <div class="card">
        <div class="card-body">
            <div class="row  p-2">
                <div class="col-3 p-2" data-bs-target="#tv10" data-bs-toggle="modal">
                    <img src="assets/tv10.jpg" alt="" height="200px" width="300px">
                </div>
                <div class="col-7 p-2">
                    <p class="h4">SAMSUNG Crystal Vision 4K iSmart with Voice Assistant 108 cm (43 inch) Ultra HD (4K)
                        LED Smart Tizen</p><br>
                    <ul>
                        <li class="h6">Operating System: Tizen</li>
                        <li class="h6">Ultra HD (4K) 3840 x 2160 Pixels</li>
                        <li class="h6">Launch Year: 2023</li>
                        <li class="h6">1 Year Comprehensive Warranty on Product and 1 Year Additional Warranty on Panel
                        </li>
                    </ul>
                </div>
                <div class="col-2 p-4">
                    <p class="h3">₹31,999</p>
                    <p class="h6"><s>₹54,999</s></p>
                    <p class="text-success h5">41% off</p>

                </div>

            </div>
        </div>
    </div>



    <!-- <div class="row border border-dark p-2">
            <div class="col col-sm">
                <img src="assets/tv1.jpg" alt="" height="200px" width="300px">
            </div>
            <div class=" col-8 ">
                <p class="h4">REDMI 80 cm (32 inch) HD Ready LED Smart FireTv OS 7 TV (L32R8-FVIN)</p><br>
                <ul>
                    <li>Operating System: FireTv OS 7</li>
                    <li>HD Ready 1366 x 768 Pixels</li>
                    <li>Launch Year: 2023</li>
                </ul>
            </div>
            <div class=" col-1">
                <p>skfafa</p>
                <p>afkakf</p>
                <p>adsfjka</p>

            </div>
        </div> -->





</div>
<div class="container">
    <div *ngFor="let product of tvproducts">
        <div (click)="tomodal(product)" data-bs-target="#exampleModal" data-bs-toggle="modal">
            <p>{{product.name}}</p>
            <img [src]="product.image" alt="">
        </div>

        <button>View</button>
    </div>
</div>

<!-- modal content -->

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="modalProduct">
                    <p>{{modalProduct.name}}</p>
                    <img [src]="modalProduct.image" alt="">
                </div>

            </div>

        </div>
    </div>
</div>
<!-- tv1 -->
<div class="modal fade modal-xl" id="tv1">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t18.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t12.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t13.jpg" alt="" width="200px" height="150px">
                </div>
            </div>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t14.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t15.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t16.jpg" alt="" width="200px" height="150px">
                </div>
            </div>



        </div>
    </div>
</div>

<!-- tv2 -->
<div class="modal fade modal-lg" id="tv2">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t21.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t22.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t23.jpg" alt="" width="200px" height="150px">
                </div>
            </div>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t24.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t25.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t26.jpg" alt="" width="200px" height="150px">
                </div>
            </div>



        </div>
    </div>
</div>

<!-- tv3 -->

<div class="modal fade modal-lg" id="tv3">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t31.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t32.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t33.jpg" alt="" width="200px" height="150px">
                </div>
            </div>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t34.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t35.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t36.jpg" alt="" width="200px" height="150px">
                </div>
            </div>



        </div>
    </div>
</div>

<!-- tv4 -->

<div class="modal fade modal-lg" id="tv4">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t41.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t42.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t43.jpg" alt="" width="200px" height="150px">
                </div>
            </div>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t44.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t45.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t46.jpg" alt="" width="200px" height="150px">
                </div>
            </div>



        </div>
    </div>
</div>

<!-- tv5 -->

<div class="modal fade modal-lg" id="tv5">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t51.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t52.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t53.jpg" alt="" width="200px" height="150px">
                </div>
            </div>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t54.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t55.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t56.jpg" alt="" width="200px" height="150px">
                </div>
            </div>



        </div>
    </div>
</div>

<!-- tv6 -->

<div class="modal fade modal-lg" id="tv6">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t61.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t62.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t63.jpg" alt="" width="200px" height="150px">
                </div>
            </div>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t64.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t65.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t66.jpg" alt="" width="200px" height="150px">
                </div>
            </div>



        </div>
    </div>
</div>

<!-- tv7 -->

<div class="modal fade modal-lg" id="tv7">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t71.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t72.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t73.jpg" alt="" width="200px" height="150px">
                </div>
            </div>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t74.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t75.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t76.jpg" alt="" width="200px" height="150px">
                </div>
            </div>



        </div>
    </div>
</div>

<!-- tv8 -->

<div class="modal fade modal-lg" id="tv8">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t81.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t82.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t83.jpg" alt="" width="200px" height="150px">
                </div>
            </div>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t84.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t85.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t86.jpg" alt="" width="200px" height="150px">
                </div>
            </div>



        </div>
    </div>
</div>

<!-- tv9 -->

<div class="modal fade modal-lg" id="tv9">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t91.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t92.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t93.jpg" alt="" width="200px" height="150px">
                </div>
            </div>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t94.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t95.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t96.jpg" alt="" width="200px" height="150px">
                </div>
            </div>



        </div>
    </div>
</div>

<!-- tv10 -->

<div class="modal fade modal-lg" id="tv10">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t101.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t102.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t103.jpg" alt="" width="200px" height="150px">
                </div>
            </div>
            <div class="row">
                <div class="col-3 ms-2 pb-4">
                    <img src="assets/t104.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-5">
                    <img src="assets/t105.jpg" alt="" width="200px" height="150px">
                </div>
                <div class="col-4 ms-2">
                    <img src="assets/t106.jpg" alt="" width="200px" height="150px">
                </div>
            </div>



        </div>
    </div>
</div>
<div>

</div>